.hit {
    background-color: #ff4b52;
}

.missed {
    background-color: #f2f16f;
}

.blank {
    background-color: #e3f3ff;
}

.clicked {
    background-color: black;
}

.placed {
    background-color: #686868;
}

#submit {
    float:right;
    margin-bottom: 15px;
}

#toggle {
    float:left;
    margin-bottom: 15px;
}

/*Table formatting*/

td {
    min-height: 50px;
    padding: 0 0 0 0; !important;
    background-color: #d7efff;
    border: 1px solid black;
}

td div {
    width: 90%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;

}

td div a {
 display: block;
 padding: 0 0 0 0;
 margin-left: auto;
 margin-right: auto;
}

h4 {
    margin-top: 0px;
}